---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { PORTFOLIO } from "@consts";

const portfolio = (await getCollection("portfolio"))
  .filter(project => !project.data.draft)
  .sort((a, b) => a.data.order - b.data.order);
---

<PageLayout title={PORTFOLIO.TITLE} description={PORTFOLIO.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <!-- <div class="animate font-semibold text-black dark:text-white">
        Portfolio
      </div> -->

      <div class="grid grid-cols-3 max-md:grid-cols-2 gap-8 items-center">
        {
          portfolio.map((entry) => (
            <div class="animate">
              <a href={`/${entry.collection}/${entry.slug}`}>
                <div class="truncate">
                  <div class="">
                    <img class="rounded-lg" src={entry.data.image} />
                  </div>
                  <div class="p-2 text-sm text-center text-black dark:text-white">
                    {entry.data.title}
                  </div>
                </div>
              </a>
            </div>
          ))
        }
      </div>

    </div>
  </Container>
</PageLayout>
